<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 이름은 SQL문을 찾을 때 사용하는 그룹명이다.
     d따라서 SQL문을 사용하는 DAO 클래스 이름과 같게 하면
     d유지보수할 때 알아보기 쉽다.
     d단순히 알아보기 쉬울 뿐만 아니라
     d스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다.
     -->
<mapper namespace="bitcamp.java106.pms.dao.ClassroomDao">

  <resultMap type="Classroom" id="ClassroomMap">
    <id column="crno" property="no"/>
    <result column="titl" property="title"/>
    <result column="sdt" property="startDate"/>
    <result column="edt" property="endDate"/>
    <result column="room" property="room"/>
  </resultMap>
  
  <!-- SQL 문 id를 설정할 때 SQL문을 사용하는 메서드 이름과 같게 하면
       d유지보수할 때 알아보기 쉽다.
       d알아보기 쉬울 뿐만 아니라
       d스프링 프레임워크와 연동할 때 DAO객체를 자동 생성하고
       d그 메서드를 자동생성할 때 사용할 수 있다. 
   -->
  <select id="selectList" 
          resultMap="ClassroomMap" parameterType="map">
    select crno,titl,sdt,edt,room from pms_classroom
    <!-- limit #{startIndex}, #{pageSize} -->
  </select>
  
  <insert id="insert" parameterType="map"
          useGeneratedKeys="true" keyColumn="crno" keyProperty="no">
    insert into pms_classroom(titl,sdt,edt,room)  
    values(#{title},#{content},#{startDate},#{endDate},#{room})
  </insert> 
  <!-- primitive type, wrapper class, String class
     값을  꺼낼 때 프로퍼티 이름을 마음대로 해도 된다-->
  <update id="update" parameterType="Classroom">
    update pms_classroom set 
      titl=#{title}, 
      sdt=#{startDate}, 
      edt=#{endDate}, 
      room=#{room} 
    where crno=#{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from pms_classroom where crno=#{value}
  </delete>
  
</mapper>

