<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- DAO를 자동생성할 때 BoardMapper.xml에서 같은 이름으로 찾는다. 인터페이스 이름과 반드시 일치해야 한다. -->
<!-- mybatis가 DAO 구현체를 자동 생성한다면,
   - 그 구현체가 SQL을 제대로 찾을 수 있도록 -->
<mapper namespace="bitcamp.java106.step12.ex04.BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="titl" property="title"/>
    <result column="cont" property="content"/>
    <result column="rdt" property="registeredDate"/>
  </resultMap>

  <select id="selectList" resultMap="BoardMap" parameterType="map">
      select
        bno, 
        titl, 
        cont, 
        rdt 
      from ex_board
      order by bno desc <!-- 최근 글이 처음에 나오도록 오름차순정렬 --> 
      limit #{startIndex}, #{pageSize}
    </select>
    
    <insert id="insert" parameterType="Board">
        insert into ex_board(titl,cont,rdt) 
        values(#{title},#{content},now())
    </insert> 
    
    <delete id="delete" parameterType="int">
        delete from ex_board
        where bno=#{value}
    </delete> 
</mapper>


